<configuration>
{% for name, value in hbase_site.items() %}
  <property>
    <name>{{ name }}</name>
    <value>{{ value }}</value>
  </property>
{% endfor %}
<property>
  <name>hbase.wal.provider</name>
  <value>filesystem</value>
</property>
</configuration>
