Client {
  com.sun.security.auth.module.Krb5LoginModule required
  useKeyTab=true
  keyTab="/etc/security/keytabs/hive.service.keytab"
  storeKey=true
  useTicketCache=false
  principal="hive@{{ realm }}";
  debug=true
};
